In [1]:
#If-Else Assignment

#Input the values of a and b as 10 and 20 respectively. Now check if a is greater or b is greater using if condition.
#Think about all the edge cases, and print the statements accordingly.

a=10
b=20

if a>b :
    print("A is greater than b")
else :
    print("b is geater than a")

b is geater than a

In [2]:
#Conditional Statements Assignment

#Take three user inputs and print the greatest number from those inputs using if-else condition.
#Edge cases if any, should also be handled.

a=float(input("First number: "))
b=float(input("second number: "))
c=float(input("Third number: "))

if a>b and a>c:
              print("First number is greatest")
elif b>c:
              print("second number is greatest")
else :
              print("third number is greatest")

First number: 20
second number: 30
Third number: 40
third number is greatest

In [6]:
#Loops Assignment

#. Print the numbers from 1 to 10 using while loop.

a=1

while a < 11 :
    print(a, end=" ")
    a+=1

1 2 3 4 5 6 7 8 9 10

In [7]:
#Loops Assignment - 2

#Create a list that is having 10,23,4,26,4,75,24,54 values and with the help of while loop,
#fetch the even numbers and print the numbers

l1=[10,23,4,26,4,75,24,54]

a=0

while a<len(l1):
    if l1[a]%2==0:
        print(l1[a], end=" ")
    a+=1

10 4 26 4 24 54

In [8]:
#Assignment 3

#Create an array that is having user defined inputs and with the help of for loop, 
#fetch all the prime numbers and print the numbers.

n=int(input("please enter the number: "))

if n>1:
    for i in range(2,n):
        if n%i==0:
            print("not a prime number")
            break
        else:
            print("prime number")
            break

please enter the number: 11
prime number

In [9]:
#Module 1: Introduction to Python Assignment - 1

#Create a list containing squares of numbers from 1 to 10 (HINT: use List Comprehension).

[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
#Write a Function to check if year number is a leap year.

year=(int(input("please enter the year:")))

if (year % 4 == 0) :
    print("leap year")
else:
    print("not a leap year")

please enter the year:2012
leap year

In [2]:
#Write a Function to take an array and return another array that contains the members of first array that are even.

def get_even_numbers(arr):
    even_numbers = [num for num in arr if num % 2 == 0]
    return even_numbers

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = get_even_numbers(numbers)
print(result)

[2, 4, 6, 8, 10]

In [1]:
#Write a Function that takes 2 arrays and prints the members of first array that are present of second array.
#(HINT: use Membership Comprehension

def print_common_elements(arr1, arr2):
    common_elements = [num for num in arr1 if num in arr2]
    for element in common_elements:
        print(element)

array1 = [1, 2, 3, 4, 5]
array2 = [3, 5, 7, 9]
print_common_elements(array1, array2)

3
5

In [14]:
#1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60). 
#a. Concatenate the two tuples and store it in “t_combine”
#b. Repeat the elements of “t_combine” 3 times 
#c. Access the 3rd element from “t_combine”
#d. Access the first three elements from “t_combine”
#e. Access the last three elements from “t_combine”

#1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60). 

t1=(10,20,30)
t2=(40,50,60)

#a. Concatenate the two tuples and store it in “t_combine”

t_combine= t1 + t2
print(t_combine)

#Repeat the elements of “t_combine” 3 times ”

print(t_combine*3)

#c. Access the 3rd element from “t_combine”

t_combine[2]

#d. Access the first three elements from “t_combine”

t_combine[:3]

#e. Access the last three elements from “t_combine”

t_combine[-3:]

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

(40, 50, 60)

In [15]:
#2. Create a list ‘my_list’ with these elements: 
#a. First element is a tuple with values 1,2,3 
#b. Second element is a tuple with values “a”,”b”,”c”
#c. Third element is a tuple with values True,False 

my_list=[(1,2,3), ("a","b","c"), (True, False)]

#3. Append a new tuple – (1,’a’,True) to ‘my_list’

my_list.append((1,"a",True))

#a. Append a new list – *“sparta”,123 to my_list

my_list.append(["sparta", 123])

print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

In [18]:
#4. Create a dictionary ‘fruit’ where: 
#a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
#b. The second key is ‘Cost’ and the values are (85,54,120,70) 

fruit = {"Fruti":["Apple","Banana","Mango","Guava"],"Cost":[85,54,120,70]}

#c. Extract all the keys from ‘fruit’

fruit.keys()

#d. Extract all the values from ‘fruit’

fruit.values()

dict_values([['Apple', 'Banana', 'Mango', 'Guava'], [85, 54, 120, 70]])

In [19]:
#5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

my_set={1,1,"a","a",True,True}
print(my_set)

{1, 'a'}