In [1]:
#Step 4: Import the required packages and create two DataFrames

import pandas as pd

user = pd.DataFrame({
    'id':[1,2,3,4],
    'name':['a','b','c','d']
    })

qualifications = pd.DataFrame({
    'user_id':[1,2,3,4],
    'qualification':['e','f','g','h']
})

print(f'\nuser:\n{user.head()}')
print(f'\nqualifications:\n{qualifications.head()}')

user:
   id name
0   1    a
1   2    b
2   3    c
3   4    d

qualifications:
   user_id qualification
0        1             e
1        2             f
2        3             g
3        4             h

In [2]:
# Step 5: Merge the two DataFrames

pd.merge(user,qualifications,left_on='id',right_on='user_id')

   id name  user_id qualification
0   1    a        1             e
1   2    b        2             f
2   3    c        3             g
3   4    d        4             h

In [10]:
# Step 6: Create two DataFrames

df1 = pd.DataFrame({
    'id':[1,2,3,4],
    'name':['a','b','c','d']
}).set_index('id')

df2 = pd.DataFrame({
    'id':[1,2,3,4],
    'qualification':['a','b','c','d']
}).set_index('id')

print(f'\ndf1:\n{df1.head()}')
print(f'\ndf2:\n{df2.head()}')

df1:
   name
id
1     a
2     b
3     c
4     d

df2:
   qualification
id
1              a
2              b
3              c
4              d

In [13]:
#Step 7: Join two DataFrames

print(df1.join(df2))
print('\n')
print(df2.join(df1))

   name qualification
id
1     a             a
2     b             b
3     c             c
4     d             d


   qualification name
id
1              a    a
2              b    b
3              c    c
4              d    d

In [16]:
#Step 8: Create three DataFrames

df1 = pd.DataFrame({
    'id':[0,1,2],
    'name':['a','b','c']
}).set_index('id')

df2 = pd.DataFrame({
    'id':[3,4,5],
    'name':['d','e','f']
}).set_index('id')

df3 = pd.DataFrame({
    'id':[6,7,8],
    'name':['g','h','i']
}).set_index('id')

In [17]:
#Step 9: Concatenate three DataFrames by them as a list in pd.concat

pd.concat([df1,df2,df3])

   name
id
0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i