In [39]:
import pandas as pd

df = pd.read_csv('Live.csv')
df.head()

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,246675545449582_1649696485147474,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,246675545449582_1649426988507757,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,246675545449582_1648730588577397,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,246675545449582_1648576705259452,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,246675545449582_1645700502213739,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN

In [40]:
df.shape

(7050, 16)

In [41]:
# 1) How many columns contain null data?
# 3
# 0
# 5
# 4

print(df.isnull().sum())
print('4')

status_id              0
status_type            0
status_published       0
num_reactions          0
num_comments           0
num_shares             0
num_likes              0
num_loves              0
num_wows               0
num_hahas              0
num_sads               0
num_angrys             0
Column1             7050
Column2             7050
Column3             7050
Column4             7050
dtype: int64
4

In [42]:
# 2) How many status ids are unique?
# 3984
# 6503
# 6997
# 4509

df['status_id'].nunique()

6997

In [43]:
# 3) How many video post has been made for live selling:
# 2871
# 2345
# 2334
# 1827

df[df['status_type'] == 'video'].shape[0]

2334

In [44]:
# 4) How many likes have been given to the photo posted on 4/19/2018 at 22:26?
# 379
# 293
# 493
# 359

df[(df['status_published'] == '4/19/2018 22:26') & (df['status_type'] == 'photo')]['num_likes']

4592    379
Name: num_likes, dtype: int64

In [45]:
df.columns

Index(['status_id', 'status_type', 'status_published', 'num_reactions',
       'num_comments', 'num_shares', 'num_likes', 'num_loves', 'num_wows',
       'num_hahas', 'num_sads', 'num_angrys', 'Column1', 'Column2', 'Column3',
       'Column4'],
      dtype='object')

In [46]:
# 5) How many total shares were made for the video post that was posted on 7/15/2017 at 10:52?
# 173
# 167
# 139
# 153
df[(df['status_published'] == '7/15/2017 10:52') & (df['status_type'] == 'video')]['num_shares']

6977    167
Name: num_shares, dtype: int64

In [47]:
# 6) What does k means do?
# None of the above
# Group similar elements
# Finds probability of elements
# Finds relationships between dependent and independent data

print('Group similar elements')

Group similar elements

In [48]:
# 7) What output will the below code give?  colour=['red','blue','green','yellow','cyan']  n=0  for i in range(0,len(colour)):  plt.scatter(X[df['Clusters(5)']==i],Y[df['Clusters(5)']==i],s=10,c=colour[i]) plt.scatter(k.cluster_centers_[:,0] ,k.cluster_centers_[:,1], color='black') 
# Gives 5 clusters
# Gives 5 clusters with midpoints
# Gives an error
# Gives 2 clusters

print('Gives an error')

Gives an error

In [49]:
# 8) Which method is used to decide the optimal number of clusters in k-means clustering?
# Append method
# Evaluation Method
# None
# Elbow method

print('Elbow method')

Elbow method

In [50]:
# 9) In what cases is K Means used?
# Classification
# Regression
# None of the above
# Clustering

print('Clustering')

Clustering

In [51]:
# 10) For exploration, do we use Hierarchical Clustering?
# FALSE
# TRUE

print('True')

True

In [52]:
# 11) Which is the function used for the K Means?
# None of the above
# Kmeans
# Clusters
# KMeans

print('KMeans')

KMeans

In [53]:
# 12) How to train the K-means model?
# train_test_split()
# predict()
# fit()
# train()

print('fit()')

fit()

In [54]:
# 13) What does random_state do?
# Used to split data
# Shows states
# All of the above.
# Checks and validate data when code is run multiple times.

print('Checks and validates data when the code is run multiple times.')

Checks and validates data when the code is run multiple times.

In [55]:
# 14) How to check which data is placed under which Cluster?
# Labels_
# Intertia_
# None of the above
# Cluster_

print('Cluster_')

Cluster_

In [56]:
# 15) Why do we perform standard scalar?
# Normalizing data
# Adding standard values
# Removing standard values
# None of the above

print('Normalizing data')

Normalizing data

In [57]:
# 16) From the above model, what is the inter-cluster variance of the model?
# 342.43
# 210.93
# 237.75
# 284.29

print('237.75')

237.75