Case Study 1 – Getting Started With Python

In [1]:
# 1. Create a list containing squares of numbers from 1 to 10 (HINT: use List
# Comprehension).

# Task 1: Create a list containing squares of numbers from 1 to 10 (using List Comprehension)
squares_list = [x**2 for x in range(1,11)]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# 2. Write a function to check if the year number is a leap year.

# Task 2: Function to check if the year number is a leap year
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    return False

In [3]:
#task2

year = int(input("enter a year for a task2: "))
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year")

2004 is a leap year.

In [4]:
# 3. Write a function to take an array and return another array that contains the
# members of the first array that are even

# Task 3: Function to return an array that contains even numbers from the input array
def get_even_numbers(input_array):
    return [num for num in input_array if num % 2 == 0]

In [5]:
#task3
n = int(input("enter the number of elements in the array for task3: "))
input_array = []
for i in range(n):
    num = int(input(f"enter element {i+1}: "))
    input_array.append(num)

get_even_numbers = get_even_numbers(input_array)
print("Enter numbers in the array: ", get_even_numbers)

Enter numbers in the array:  [2]

In [6]:
# 4. Write a function that takes 2 arrays and prints the members of the first
# array that are present in the second array. (HINT: use Membership
# Comprehension)

# Task 4: Function to print members of the first array that are present in the second array (using Membership Comprehension)
def print_common_elements(array1, array2):
    common_elements = [num for num in array1 if num in array2]
    print(common_elements)

In [10]:
#task4

n1 = int(input("enter the number of elements in the first array for the task4: "))
array1 = []
for i in range(n1):
    num = int(input(f"enter element {i+1}: "))
    array1.append(num)

n2 = int(input("enter the number of elements in the second array for task4: "))
array2 = []
for i in range(n2):
    num = int(input(f"enter element {i+1}: "))
    array2.append(num)

print("common elements in the first array:", end=" ")
print_common_elements(array1,array2)

common elements in the first array: [2]

Case Study 2 – Introduction To Python

In [13]:
# 1. Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40,
# 50, 60):
# a. Concatenate the two tuples and store it in “t_combine”
# b. Repeat the elements of “t_combine” 3 times
# c. Access the 3rd element from “t_combine”
# d. Access the first three elements from “t_combine”
# e. Access the last three elements from “t_combine”


#task 1
t1=(10,20,30)
t2=(40,50,60)
print("Task 1:")
print(f"tuple 1 {t1}")
print(f"tuple 2 {t2}")

# a. Concatenate the two tuples and store it in "t_combine"
t_combine = t1 + t2
print("Concatenated tuple:", t_combine)

# b. Repeat the elements of "t_combine" 3 times
t_combined_repeated = t_combine*3
print("Repeated tuple:", t_combined_repeated)

# c. Access the 3rd element from "t_combine"
third_element = t_combine[2]
print("Third element from 't_combine':", third_element)

# d. Access the first three elements from "t_combine"
first_three_elements = t_combine[:3]
print("First three elements from 't_combine':", first_three_elements)

# e. Access the last three elements from "t_combine"
last_three_elements = t_combine[-3:]
print("Last three elements from 't_combine':", last_three_elements)

Task 1:
tuple 1 (10, 20, 30)
tuple 2 (40, 50, 60)
Concatenated tuple: (10, 20, 30, 40, 50, 60)
Repeated tuple: (10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
Third element from 't_combine': 30
First three elements from 't_combine': (10, 20, 30)
Last three elements from 't_combine': (40, 50, 60)

In [15]:
# 2. Create a list ‘my_list’ with these elements:
# a. First element is a tuple with values 1, 2, 3
# b. Second element is a tuple with values “a”, “b”, “c”
# c. Third element is a tuple with values True, False

# Task 2
my_list = [(1, 2, 3), ("a", "b", "c"), (True, False)]
print("Task 2:")
print("my_list:", my_list)

Task 2:
my_list: [(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [18]:
# 3. Append a new tuple – (1, ‘a’, True) to ‘my_list’:
# a. Append a new list – *“sparta”, 123+ to my_list

# Task 3
new_tuple = (1, "a", True)
my_list.append(new_tuple)
my_list.append(["sparta", 123])
print("\nTask 3:")
print("Updated my_list:", my_list)

Task 3:
Updated my_list: [(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123], (1, 'a', True), ['sparta', 123]]

In [19]:
# 4. Create a dictionary ‘fruit’ where:
# a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
# “Guava”)
# b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)
# c. Extract all the keys from ‘fruit’
# d. Extract all the values from ‘fruit’

# Task 4
fruit = {
    'Fruit': ("Apple", "Banana", "Mango", "Guava"),
    'Cost': (85, 54, 120, 70)
}
keys = fruit.keys()
values = fruit.values()

print("\nTask 4:")
print("Keys from 'fruit':", keys)
print("Values from 'fruit':", values)

Task 4:
Keys from 'fruit': dict_keys(['Fruit', 'Cost'])
Values from 'fruit': dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [21]:
# 5. Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and
# print the result.


# Task 5
my_set = {1, 1, "a", "a", True, True}
print("Task 5:")
print("my_set:", my_set)

Task 5:
my_set: {1, 'a'}