                                            Pandas Assignment - 1

    1. Start off by importing the customer_churn.csv file in the jupyter notebook and store that in churn data 
    frame.

In [5]:
import pandas as pd
churn= pd.read_csv(r"C:\Users\arvin\Desktop\Intellipath\Module 5 - Data Manipulation Using Pandas\assignments\customer_churn-1.csv")

    2. From the churn data frame, select only 3rd, 7th, 9th, and 20th columns and all the rows and store that in new 
    data frame named newCols.

In [6]:
newCols= churn.iloc[:,[2,6,8,19]]

    3.From the original data frame, select only the rows from 200th index till 1000th index(inclusive) column.

In [ ]:
churn.iloc[200:1001, :]

     4. Now select the rows from 20th index till 200th index(exclusive),and columns from 2nd index till 15th index 
     value.

In [ ]:
churn.iloc[20:200, 2:15]

    5. Display the top 100 records from the original data frame

In [ ]:
churn.head(100)

    6. Display the last 10 records from the data frame.

In [ ]:
churn.tail(10)

    7. Display the last record from the data frame

In [ ]:
churn.tail(1)

    8. Now from the churn data frame, try to sort the data by the tenure column according to the descending 
    order.

In [ ]:
churn.sort_values(by='tenure', ascending=False)

    9. Fetch all the records that are satisfying the following condition:
    a. Tenure>50 and the gender as ‘Female’.
    b. Gender as ‘Male’ and SeniorCitizen as 0.
    c. TechSupport as ‘Yes’ and Churn as ‘No’.
    d. Contract type as ‘Month-to-month’ and Churn as ‘Yes’

In [ ]:
churn[(churn['tenure'] > 50) & (churn['gender'] == 'Female')]

In [ ]:
churn[(churn['gender'] == 'Male')  & (churn['SeniorCitizen'] == 0)]

In [ ]:
churn[(churn['TechSupport'] == 'Yes')  & (churn['Churn'] == 'No')]

In [ ]:
churn[(churn['Contract'] == 'Month-to-month')  & (churn['Churn'] == 'Yes')]

    10. Use a for loop to calculate the number of customers that are getting the tech support and are male senior 
    citizen

                                        Pandas Assignment - 1

    1. Write a function that takes start and end of a range returns a Pandas series object containing 
    numbers within that range.
    In case the user does not pass start or end or both they should default to 1 and 10 respectively. 
    eg. 
    range_series() -> Should Return a pandas series from 1 to 10
    range_series(5) -> Should Return a pandas series from 5 to 10 
    range_series(5, 10) -> Should Return a pandas series from 5 to 10.

In [12]:
def range_series(start=1, end=10):
    df = pd.Series(range(start,end))
    return df

    2. Create a function that takes in two lists named keys and values as arguments. 
    Keys would be strings and contain n string values. 
    Values would be a list containing n lists. 
    The methods should return a new pandas dataframe with keys as column names and values as 
    their corresponding values

In [14]:
def DF(keys,values):
    return pd.DataFrame(data=values, columns=keys).T

DF1=DF(["One", "Two"], [["X", "Y"], ["A", "B"]])
DF2=DF(["three", "four"], [["X1", "Y1"], ["A1", "B1"]])

    3. Create a function that concatenates two dataframes. Use previously created function to create 
    two dataframes and pass them as parameters Make sure that the indexes are reset before 
    returning:

In [15]:
def concat_df(df1,df2):
    df = pd.concat([df1, df2], axis=0, ignore_index = True)
    return df
concat_df(DF1,DF2)

    0   1
0   X   A
1   Y   B
2  X1  A1
3  Y1  B1

    4. Write code to load data from cars.csv into a dataframe and print its details. Details like: 'count', 
    'mean', 'std', 'min', '25%', '50%', '75%', 'max'.

In [ ]:
def data(path):
    df=pd.read_csv(path)
    return df.describe()

    5. Write a method that will take a column name as argument and return the name of the column 
    with which the 
    given column has the highest correlation. 
    The data to be used is the cars dataset. 
    The returned value should not be the column named that was passed as the parameters. 
    E.G: get_max_correlated_column('mpg') -> should return 'drat'

In [11]:
def get_max_correlated_column(col, data):
    # Get the list of columns with float dtype
    float_columns = data.select_dtypes(include=['float64']).columns
    
    # Calculate the correlation between the given column and other float columns
    correlations = {}
    for column in float_columns:
        if column != col:
            correlation = data[col].corr(data[column])
            correlations[column] = correlation
    
    # Find the column with the highest correlation
    max_corr_column = max(correlations, key=correlations.get)
    
    return max_corr_column

# Load the cars dataset
cars = pd.read_csv('CASE-STUDY-PROBLEM-1-8211-PANDAS-23NOV2022091544\cars.csv')

# Call the function with 'mpg' as the column name
result = get_max_correlated_column('mpg', cars)
print(result)

drat