In [227]:
import pandas as pd

df = pd.read_csv('census-income.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Unnamed: 14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [228]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Unnamed: 14       0
dtype: int64

In [229]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  Unnamed: 14     32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [230]:
categorical_columns = df.select_dtypes(include=['object'])
for col in categorical_columns:
    print(col)
    print(df[col].unique())
    print('\n')

workclass
['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' '?'
 'Self-emp-inc' 'Without-pay' 'Never-worked']


education
['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']


marital-status
['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']


occupation
['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' '?'
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']


relationship
['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']


race
['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']


sex
['Male' 'Female']


native-country
['United-States' 'Cuba' 'Jamaica' 'India' '?' 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']


Unnamed: 14
['<=50K' '>50K']

In [231]:
# Replace '?' with NaN
df.replace('?', pd.NA, inplace=True)

# Calculate the percentage of null values for each column
null_percentage = df.isnull().sum() / len(df) * 100

# Display the result
print(null_percentage)

age               0.000000
workclass         5.638647
fnlwgt            0.000000
education         0.000000
education-num     0.000000
marital-status    0.000000
occupation        5.660146
relationship      0.000000
race              0.000000
sex               0.000000
capital-gain      0.000000
capital-loss      0.000000
hours-per-week    0.000000
native-country    1.790486
Unnamed: 14       0.000000
dtype: float64

In [232]:

# # Drop rows containing NaN
# df.dropna(inplace=True)

In [233]:
df.rename(columns={'Unnamed: 14':'Annual-Income'},inplace=True)

In [234]:
# If needed, encode other categorical columns using Label Encoding
categorical_columns =df.select_dtypes(include=['object'])
for col in categorical_columns:
    df[col] = df[col].astype('category')

In [235]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Annual-Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [236]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  category
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  category
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  category
 6   occupation      30718 non-null  category
 7   relationship    32561 non-null  category
 8   race            32561 non-null  category
 9   sex             32561 non-null  category
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  category
 14  Annual-Income   32561 non-null  category
dtypes: category(9), int64(6)
memory usage: 1.8 MB

In [237]:
# 1. What is the biggest advantage that helps random forest classifiers to triumph over the
# decision trees?
# A. It has shown great predictive results over decision tree models.
# B. It Combines all positive predictions from all decision trees
# C. It works on the bagging method(bootstrap method)
# D. All of the above

print('D. All of the above')

D. All of the above

In [238]:
# 2. In a given problem where you have a very large dataset with both continuous and categorical
# features, why would you choose the random forest classifier?
# A. Random forest can work on both regression and classification problem
# B. High accuracy with less need for interpretation
# C. Works well with the high dimensional data
# D. All of the above

print('D. All of the above')

D. All of the above

In [239]:
# 3. Which of the following techniques is used in the Random Forest model?
# A. Bagging
# B. Boosting
# C. Ensemble
# D. None of the these

print('A. Bagging')

A. Bagging

In [240]:
# 4. Choose the total population with income greater than 50% income?
# A. 75%
# B. 25%
# C. 24.08%
# D. 35%

total = len(df)
more_than_50 = df[df['Annual-Income'] == '>50K'].shape[0]
percentage = (more_than_50/total)*100

print(f'{percentage:.2f}%')

24.08%

In [241]:
df[df['hours-per-week']<20]['marital-status'].value_counts()

Never-married            907
Married-civ-spouse       460
Widowed                  168
Divorced                 118
Separated                 33
Married-spouse-absent     15
Married-AF-spouse          3
Name: marital-status, dtype: int64

In [242]:
# 5. Compute how many samples of the population are unmarried and working hours less than 20
# hours?
# A. 134
# B. 145
# C. 127
# D. 123

In [243]:
# 6. Choose the correct list of age with minimum age , maximum and 50th Percentile of the age
# group?
# A. [17,90,36]
# B. [15,95,37]
# C. [17,90,37]
# D. All

print('C. [17,90,37]\n')
df.describe()

C. [17,90,37]

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [244]:
# 7. From above census data which country has the highest population and the lowest
# population?
# A. United-States and scotland
# B. United-States and Holland-Netherlands
# C. Scotland and Holland-Netherlands
# D. Mexico and Holland-Netherlands

highest=df['native-country'].value_counts().idxmax()
lowest=df['native-country'].value_counts().idxmin()

print(highest,lowest)

United-States Holand-Netherlands

In [245]:
# 8. How does n_estimators work in the random forest classifier?
# A. Number of random forests for the classifier.
# B. Number of iterations
# C. Training epochs
# D. Number of decision trees

print('D. Number of decision trees')

D. Number of decision trees

In [246]:
# 9. Can the target data for the random forest model be categorical or continuous value?
# A. Yes
# B. No

print('A. Yes')

A. Yes

In [247]:
# 10. How can you use hyperparameter tuning to your advantage while working with the random
# forest classifier?
# A. Improve the model’s performance
# B. Normalizes the features
# C. Standardization of the data
# D. All of the above

print('A. Improve the model’s performance')

A. Improve the model’s performance

In [248]:
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

# Convert categorical features to numerical using Label Encoding
label_encoders = {}
for column in df.select_dtypes(include='category'):
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

# Split the data into features (X) and target (y)
X = df.drop(columns=['Annual-Income'])
y = df['Annual-Income']

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [249]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Annual-Income
0,39,6,77516,9,13,4,0,1,4,1,2174,0,40,38,0
1,50,5,83311,9,13,2,3,0,4,1,0,0,13,38,0
2,38,3,215646,11,9,0,5,1,4,1,0,0,40,38,0
3,53,3,234721,1,7,2,5,0,2,1,0,0,40,38,0
4,28,3,338409,9,13,2,9,5,2,0,0,0,40,4,0

In [255]:
# 11. Select the best hyperparameters by RandomSearchCV and fit the model with the best
# hyperparameters and compute the accuracy score of the model.
# A. 90% and above
# B. 50% to 70%
# C. 30% to 50&
# D. None of the above

# Create a Random Forest Classifier
rf_classifier = RandomForestClassifier()

# Define the hyperparameter grid
param_grid = {
    'n_estimators': [50, 100],
    'max_depth': [None, 5],
    'min_samples_split': [2, 3],
    'min_samples_leaf': [1, 2]
}

# Create RandomizedSearchCV object
random_search = RandomizedSearchCV(
    rf_classifier,        # The model or estimator you're tuning
    param_distributions=param_grid,  # The hyperparameter grid
    n_iter=3,             # Number of parameter settings to sample
    scoring='accuracy',   # Scoring metric for evaluation
    cv=5,                 # Cross-validation folds for evaluation
    n_jobs=-1             # Number of CPU cores to use (-1 for all available)
)
# Fit the RandomizedSearchCV
random_search.fit(X_train, y_train)  # Make sure to replace X_train and y_train with your data

# Get the best estimator with optimal hyperparameters
best_rf_classifier = random_search.best_estimator_

# Predict on the test set
y_pred = best_rf_classifier.predict(X_test)  # Make sure to replace X_test with your test data

# Calculate accuracy score
accuracy = accuracy_score(y_test, y_pred)  # Make sure to replace y_test with your test labels
print("Accuracy:", accuracy)

Accuracy: 0.8627290408434845

In [251]:
# 12. Which of the following Two features are most important in Random forest model?
# A. Predict_proba
# B. Correlation between 2 trees and how strong an individual tree is
# C. sensitivity and specificity
# D. None of the above

print('B. Correlation between 2 trees and how strong an individual tree is')

B. Correlation between 2 trees and how strong an individual tree is

In [252]:
# 13. Based on what values, the feature importance will be calculated?
# A. mean increase gini and mean decrease accuracy
# B. Mean decrease gini and mean decrease accuracy
# C. mean increase gini and mean increase accuracy
# D. All of the above

print('B. Mean decrease gini and mean decrease accuracy')

B. Mean decrease gini and mean decrease accuracy

In [253]:
# 14.From the above model, state the disadvantage of the random forest?
# A. It is a time consuming model building process
# B. It is same as all other model
# C. It’s training time is huge due to the complexity of the model
# D. None of the above

print('A. It is a time consuming model building process')

A. It is a time consuming model building process

In [254]:
# 15. Which are the two methods used for hyperparameter tuning and cross-validation?
# A. RandomForestCLassifier
# B. RandomizedSearchCV
# C. GridSearchCV
# D. RandomizedSearchCV and GridSearchCV

print('D. RandomizedSearchCV and GridSearchCV')

D. RandomizedSearchCV and GridSearchCV